/* Imports */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/*CSS Variables*/
:root {
  --main-bg-color: #3a3a3a;
  --main-hover-bg-color: #656060;
  --secondary-bg-color: #f4f4f4;
  --main-color: white;
  --button-main-color: #e68b1f;
  --button-hover-color: #f7b15c;
  --spacing-0: 0;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-30: 30px;
  --spacing-40: 40px;
  --spacing-50: 50px;
  --spacing-60: 60px;
  --spacing-190: 190px;
  --spacing-221: 221px;
  --spacing-300: 300px;
}
body {
  background-color: var(--secondary-bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Navbar */
.navbar {
  background-color: var(--main-bg-color) !important;
  font-weight: bold;
}

.navbar li a {
  color: var(--main-color) !important;
}
.navbar li a:hover {
  color: var(--button-hover-color) !important;
}
/* Cards */
.cards-main .card {
  border: none;
}
/* Buttons */
.btn-primary {
  background-color: var(--button-main-color);
  border-color: var(--button-main-color);
}

.btn-primary:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.btn-primary:active {
  background-color: var(--button-main-color) !important;
  border-color: var(--button-main-color) !important;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  bottom: 150px;
  right: 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background: var(--main-bg-color);
  border: 2px solid var(--main-bg-color);
  border-radius: 8px;
  color: var(--main-color);
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bolder;
  z-index: 2;
}
.back-to-top:hover {
  cursor: pointer;
  background: var(--main-hover-bg-color);
  border: 2px solid var(--main-hover-bg-color);
  color: var(--main-color);
}

/* Partners Carousel */
.logos::before,
.logos::after {
  content: "";
  width: var(--spacing-300);
  height: 100%;
  position: absolute;
  top: var(--spacing-0);
  z-index: 2;
}

.logos::before {
  left: var(--spacing-0);
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos::after {
  right: var(--spacing-0);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos-slide {
  animation: 20s slide infinite linear;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide img {
  height: var(--spacing-60);
  margin: var(--spacing-0) var(--spacing-50);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Testimonials */

.testimonials .card {
  border: none;
  margin-bottom: var(--spacing-50) !important;
}
.bg-primary {
  background: var(--button-main-color) !important;
}

/* Footer */

.footer-basic {
  padding: var(--spacing-40) var(--spacing-0);
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.footer-basic ul {
  padding: var(--spacing-0);
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: var(--spacing-0);
}

.footer-basic li {
  padding: var(--spacing-0) var(--spacing-10);
}

.footer-basic ul a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.footer-basic ul a:hover {
  color: var(--button-hover-color);
}

.footer-basic .copyright {
  margin-top: var(--spacing-15);
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: var(--spacing-0);
}

.footer-help .footer-basic {
  margin-top: var(--spacing-300);
}

/* Contact page */
.contact-form .btn-primary {
  padding-left: var(--spacing-190) !important;
  padding-right: var(--spacing-190) !important;
}

/* About page */
.container-article .about-page {
  font-size: 17px !important;
  padding: var(--spacing-40) !important;
  margin-top: var(--spacing-20) !important;
}
/* On smaller screens */

@media only screen and (max-width: 600px) {
  .contact-form .btn-primary {
    padding-left: var(--spacing-221) !important;
    padding-right: var(--spacing-221) !important;
  }
}
